<footer class="py-4 bg-dark flex-shrink-0">
  <div class="container text-center">
    <div class="row">
      <div class="col-4 text-light">
        <p class="h5">Sobre nós</p>
        <p class="text-muted">(99)9999-9999</p>
        <p class="text-muted">faculdadeSB@email.com</p>
      </div>
      <a href="#" class="text-light col-4 h4">Faculdade Só o Básico</a>
      <div class="col-4 text-light">
        <p class="h5">Redes Sociais</p>
        <a href="#" class="text-muted d-block">Facebook</a>
        <a href="#" class="text-muted d-block">Instagram</a>
        <a href="#" class="text-muted d-block">Twiiter</a>
      </div>
    </div>
  </div>
</footer>