<div class="container">
    <p class="text-center h3 text-dark">Cursos</p>
    <div class="row">
        <div class="col-4 mb-4">
            <div class="card">
                <img src="../../assets/img/Engenharia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Curso Engenharia</h5>
                    <p class="card-text">Aprenda Engenharia do seu jeito!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card">
                <img src="../../assets/img/Direito.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Curso Direito</h5>
                    <p class="card-text">Aprenda Direito do seu jeito!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card h-100">
                <img src="../../assets/img/Computacao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Curso Ciências da Computação</h5>
                    <p class="card-text">Aprenda Ciências da Computação do seu jeito!
                    </p>
                </div>
            </div>
        </div>
            <div class="col-4 mb-4">
                <div class="card h-100">
                    <img src="../../assets/img/Biologia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Curso Biologia</h5>
                        <p class="card-text">Aprenda Biologia do seu jeito!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <img src="../../assets/img/Medicina.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Curso Medicina</h5>
                        <p class="card-text">Aprenda Medicina do seu jeito!
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>